<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://naijaconnectfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/25c5d9a3-b29d-4943-8150-49309216c988/resourcegroups/SignalR/providers/Microsoft.Web/sites/NaijaConnectFunction</ResourceId>
    <UserName>$NaijaConnectFunction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://naijaconnectfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>